---
layout: home
title: Home
---
<link rel="stylesheet" href="{{ site.baseurl }}/css/owl.carousel.css">
<div class="mobile-claim visible-xs">
    <div class="container">
        <span class="h1">The <span style="color:#ee720b">Fund Admin Software</span>Trusted by Global Life Pension Companies since 1999.</span>
        <!--a href="{{ site.baseurl }}/fund_admin.html" class="btn orange-btn">Life Companies</a>
        <a href="{{ site.baseurl }}/asset_mgmt.html" class="btn btn-blue">Asset Managers</a-->
    </div>
</div>
 
<div class="campaign-title hidden-xs hidden-sm">
        <img class="title-image hidden-xs hidden-sm" src="{{ site.baseurl }}/img/sea_sky.png" class="img-responsive">
        <div class="container">               
               <div class="hero-text">
                <h1>The <span style="color:#ee720b">Fund Admin Software</span><br>Trusted by Global Life and Pensions Companies since 1999</h1>
               </div>
        </div>
    </div>


    

    <div class="campaign-vision">
    <div class="container"> 
        <div class="col-md-10 col-md-offset-1">        
            <h2>The Invest<span style="color:#ee720b">|</span>Pro™ platform is counted on by COO's, CRO's, actuaries and CFO's in Life and Pensions companies to reduce operational costs and increase efficiencies.</h2> 

            <p>A mission-critical investment platform, Invest|Pro™ is used to manage fund of funds hierarchies, apply complex cash allocation and rebalancing rules, manage unitised orders on a full STP basis, calculate unit prices, accrue tax and generate investment accounts whilst providing the dataset for regulatory reporting including Solvency II and PRIIPs.</p>
        
            <div class="boxed">
            <h2>Solutions for leading Life and Pensions companies</h2>
            </div>        
        </div>
            
        <div class="col-md-4 white-box">
            <div class="col-md-10 col-md-offset-1 orange-box">
                <div class="col-md-9">
                <p>Reduce Unit Pricing Delays and End Errors</p>
                </div>
                <div class="col-md-3 icon">
                <img src="{{ site.baseurl }}/img/Reduce Unit Pricing.png">
                </div>
            </div>

        </div>

        <div class="col-md-4 white-box">
            <div class="col-md-10 col-md-offset-1 orange-box">
                <div class="col-md-9">
                <p>Increase Scalability and Operational Efficiency</p>
                </div>
                <div class="col-md-3 icon">
                <img src="{{ site.baseurl }}/img/Increase Scalability.png">
                </div>
            </div>
            
        </div>

        <div class="col-md-4 white-box">
            <div class="col-md-10 col-md-offset-1 orange-box">
                <div class="col-md-9">
                <p>Reduce Cost and Operational Risk</p>
                </div>
                <div class="col-md-3 icon">
                <img src="{{ site.baseurl }}/img/Reduce Cost.png">
                </div>
            </div>
        </div>       

    </div>
</div>

<div class="campaign-overview">
        <div class="container">
            <div class="col-md-4 white-box-text">
            <p>
                Produce lightning fast valuations of your investment portfolios. Invest|Pro™ calculates portfolio valuations from the ground up, using only data in the transactional database. Valuations are then checked against fund accounts data giving an industry leading control check on the quality of the asset and liability valuations.
            </p> 
            </div> 
            <div class="col-md-4 white-box-text">
            <p>
                Easily add new assets, funds and AUM without a corresponding increase in overhead. Benefit from automation including baked in processing parameters, exception based alerts, web-browser with drilldown analytics and reports.
            </p> 
            </div>
            <div class="col-md-4 white-box-text">
            <p>
                Increased efficiencies by automating your investment processes and reduce your operational risk with FRS’ investment governance modules. Remove key person risk by deploying exception-based reporting in conjunction with the InvestlPro™ investment rules engine
            </p> 
            </div>       
        
            
                <h1><strong>Invest<span style="color:#ee720b">|</span>Pro™</strong> Overview</h1>            
            
        

            <div class="col-md-12 IPoverview_top">
            <div class="col-md-4 white-box">
                <img class ="icon" src="{{ site.baseurl }}/img/Cash Allocation.png">
                <h3>Cash Allocation and Rebalancing</h3>
                <p>
                Manage the complex procedures involved in capturing your customers cash movements into your top level collective funds and converting these through the levels to ultimately determine the trade orders that take place.
                </p>                
            </div>
            <div class="col-md-4 white-box">
                <img class ="icon" src="{{ site.baseurl }}/img/Box Management.png">
                <h3>Box Management</h3>
                <br>

                <p>
                Invest|Pro™ provides a long term and short term box fund with full financial accounting and fund performance, critical for Solvency II and reducing market risk SCR.
                </p>                
            </div>
            <div class="col-md-4 white-box">
                <img class ="icon" src="{{ site.baseurl }}/img/Open Architecture.png">
                <h3>Open Architecture Wealth Products</h3>
                <p>
                Empower your distributers or their clients to invest in their chosen assets how and when they want to. Use the Invest|Retail™ white-labelled wealth management platform with secure user authentication in order to place fund orders, process income distributions, calculate fees, do reporting, accounting and portfolio performance, along with much more.
                </p>                
            </div> 
            </div>
            <div class="col-md-12 IPoverview_bottom">                       
             <div class="col-md-4 white-box">
                <img class ="icon" src="{{ site.baseurl }}/img/Asset Manager.png">
                <h3>Asset Manager Oversight</h3>
                <br>
                <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                </p>                
            </div> 
            <div class="col-md-4 white-box">
                <img class ="icon" src="{{ site.baseurl }}/img/Tax Accruals.png">
                <h3>Tax Accruals</h3>
                <br>
                <p>
                The calculation of tax accruals is one of the most complex and important parts of the valuation/unit pricing process, Tax is an integrated part of the valuation process on Invest|Pro™ and the system has accurate tax provisioning functionality 
                </p>                
            </div>
            <div class="col-md-4 white-box">
                <img class ="icon" src="{{ site.baseurl }}/img/Pension blended fund.png">
                <h3>Pension blended fund of funds</h3>
                <p>
                The scalable design enables Invest|Pro™ to administer large volumes of FOF (fund of funds) business, feeding the investment cashflows in aggregate to the market. It can integrate easily and quickly with other systems using web services or even file transfers.
                </p>                
            </div>
            </div>

                    <div class="col-md-12 tech">
                   <h1><strong>World Class Technology</strong></h1>    
                   </div>                       
        </div>
    </div>
   

        <div class="campaign-technology">
            <div class="container">
                <div class="col-md-6 blue">
                    <h3>
                        Delivered on-premise or cloud based using Microsoft Azure
                    </h3> 
                </div> 
                <div class="col-md-6 grey">
                    <h3>
                        Technical Implementation and round the clock support
                    </h3> 
                </div>                 
                 
            </div>
        </div>


    
   
 <div class="campaign-about">
                <div class="container">
                    
                     
                            <div class="col-md-6">
                                <h2><strong>About Financial Risk Solutions</strong></h2>
                                <h4>
                                   Founded by a team of actuaries and IT specialists in 1999, the Invest|ProTM platform today manages in excess of 150,000 funds for over 60 blue-chip financial services and BPO clients worldwide. 
                               </h4>

                                <h4> We pride ourselves on being a strategic partner rather than a vendor, applying our knowledge, experience and best practices across our 60+ clients, to develop the best operating model to reduce project and ongoing operational risk and help your business grow. 
                                </h4>
                            </div>

                                                        
                    </div>
                </div>
                

    <div class="campaign-quote">
        <div class="container">            
                <h3>“Having one single dedicated system allows us to manage both our unit linked funds and portfolio bonds while streamlining our business processes and providing a better user experience.”</h3>
                <h2>CFO, Aegon Ireland</h2>                
        </div>
    </div>
    

       
       <div class="companies">
        <div class="row">
            <div class="container">
                <!--<img src="{{ site.baseurl }}/img/companies_grey.png">-->
                <div id="owl-logos">
                    {% for client in site.data.customers %}
                    <div class="item"><img src="{{ site.baseurl }}{{ site.baseurl }}/img/logos/{{ client.image }}" alt="{{ client.name}}"></div>
                    {% endfor %}
                  
                </div>
            </div>
        </div>
    </div>

            <div class="campaign-casestudy">
                <div class="container">
                            <div class="col-md-6">
                                <img src="img/Mobius Life and InvestPro Cover.png">
                            </div>

                            <div class="col-md-6">
                                <h2><strong>Mobius Life & Invest<span style="color:#ee720b">|</span>Pro™</strong></h2>
                                <p>Read how Invest|Pro™ assisted the growth of a fund of funds manager's business while reading their operational risk.</p>
                                <p>Download the Case Study.</p>
                                <a href="{{ site.baseurl }}/Resources/FRSMobiusLifeCaseStudy.pdf" class="btn orange-btn">DOWNLOAD</a>
                            </div>     
                </div>
                </div>
               
        

{% include demo-form.html %}


<div class="partners">
    <div class="row">
        <div class="container"> 

                <img style="padding-top:40px; padding-bottom: 20px;" src="{{ site.baseurl }}/img/Awards 2019.png" alt="awards">
            
            
        </div>
    </div>
</div>
            
<script src="/js/owl.carousel.min.js"></script>
<script>


    $(document).ready(function () {

        $("#owl-logos").owlCarousel({

            autoPlay: 3000, //Set AutoPlay to 3 seconds

            items: 8,
            itemsDesktop: [1199, 3],
            itemsDesktopSmall: [979, 3]

        });
        //$("#owl-partners").owlCarousel({

        //    autoPlay: 3000, //Set AutoPlay to 3 seconds

        //    items: 4,
        //    itemsDesktop: [1199, 3],
        //    itemsDesktopSmall: [979, 3]

        //});

    });


</script>

