---
layout: home
title: Home
---
<link rel="stylesheet" href="{{ site.baseurl }}/css/owl.carousel.css">
<div class="mobile-claim visible-xs">
    <div class="container">
        <span class="h1">The <span style="color:#ee720b">Fund Admin Software</span>Trusted by Global Life Pension Companies since 1999.</span>
        <!--a href="{{ site.baseurl }}/fund_admin.html" class="btn orange-btn">Life Companies</a>
        <a href="{{ site.baseurl }}/asset_mgmt.html" class="btn btn-blue">Asset Managers</a-->
    </div>
</div>
 
<div class="campaign-title hidden-xs hidden-sm">
        <img class="title-image hidden-xs hidden-sm" src="{{ site.baseurl }}/img/sea_sky.png" class="img-responsive">
        <div class="container">               
               <div class="hero-text">
                <h1>The <span style="color:#ee720b">Fund Admin Software</span><br>Trusted by Global Life and Pensions Companies since 1999</h1>
               </div>
        </div>
    </div>


    

    <div class="campaign-vision">
    <div class="container"> 
    <div class="col-md-10 col-md-offset-1">        
            <h2>The Invest<span style="color:#ee720b">|</span>Pro™ platform is trusted by COO's, CRO's, actuaries and CFO's in Life and Pensions companies to reduce operational costs and increase efficiencies.</h2> 

            <p>A mission-critical investment platform, Invest|Pro™ is used to manufacture products and deliver unit prices, investment accounts, cash allocation and rebalancing, trade order management and regulatory reporting.</p>
        
            <div class="boxed">
                <h2>Solutions for leading Life and Pensions companies</h2>
            </div>        
    </div>
            
    <div class="col-md-4 white-box">
        <div class="col-md-10 col-md-offset-1 orange-box">
            <div class="col-md-9">
                <p>Reduce Unit Pricing Delays and Errors</p>
            </div>
            <div class="col-md-3 icon">
                <img src="{{ site.baseurl }}/img/Reduce Unit Pricing.png">
            </div>
        </div>

        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        </p>
    </div>

    <div class="col-md-4 white-box">
        <div class="col-md-10 col-md-offset-1 orange-box">
            <div class="col-md-9">
                <p>Increase Scalability and Operational Efficiency</p>
            </div>
            <div class="col-md-3">
                <p>image</p>
            </div>
        </div>

        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        </p>
    </div>

    <div class="col-md-4 white-box">
        <div class="col-md-10 col-md-offset-1 orange-box">
            <div class="col-md-9">
                <p>Reduce Cost and Operational Risk</p>
            </div>
            <div class="col-md-3">
                <p>image</p>
            </div>
        </div>

        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        </p>
    </div>
        

        </div>
    </div>

    <div class="campaign-technology">
        <div class="container"> 
                <div class="col-md-6" style="background-color: #2487C9">
                    <h3>Delivered on-premise or cloud based SaaS on Microsoft Azure</h3>
                </div>
                <div class="col-md-6" style="background-color: #949699">
                    <h3>Technical Implementation and round the clock support</h3>
                </div>                    
        </div>
    </div>
   
 <div class="campaign-about">
                <div class="container">
                    
                     
                            <div class="col-md-6">
                                <h1>About Financial Risk Solutions</h1>
                                <h2>
                                   Founded by a team of actuaries and IT specialists in 1999, the Invest|ProTM platform today manages in excess of 150,000 funds for over 60 blue-chip financial services and BPO clients worldwide.We pride ourselves on being a strategic partner rather than a vendor, applying our knowledge and experience, and best practices across our 60+ clients, to develop the best operating model to reduce project and ongoing operational risk and help your business grow. 
                                </h2>
                            </div>

                                                        
                    </div>
                </div>
                </div>

   <!--Video-->
    <div class="campaign-quote">
        <div class="container">            
                <h3>“Having one single dedicated system allows us to manage both our unit linked funds and portfolio bonds while streamlining our business processes and providing a better user experience.”</h3>
                <h2>CFO, Aegon Ireland</h2>                
        </div>
    </div>
    

       
       <div class="companies">
        <div class="row">
            <div class="container">
                <!--<img src="{{ site.baseurl }}/img/companies_grey.png">-->
                <div id="owl-logos">
                    {% for client in site.data.customers %}
                    <div class="item"><img src="{{ site.baseurl }}{{ site.baseurl }}/img/logos/{{ client.image }}" alt="{{ client.name}}"></div>
                    {% endfor %}
                  
                </div>
            </div>
        </div>
    </div>

            <div class="campaign-casestudy">
                <div class="container">
                    <div class="product-features">
                     
                            <div class="col-md-6">
                                <img src="img/Mobius Life and InvestPro Cover.png">
                            </div>

                            <div class="col-md-6">
                                <h2 class="wow fadeInUp">Mobius Life & <strong>Invest|Pro™</strong></h2>
                                <p>Read how Invest|Pro™ assisted the growth of a fund of funds manager's business while reading their operational risk.</p>
                                <p>Download the Case Study.</p>
                                <a href="{{ site.baseurl }}/Resources/FRSMobiusLifeCaseStudy.pdf" class="btn orange-btn">DOWNLOAD</a>
                            </div>                   


                            
                    </div>
                </div>
                </div>
               
        

{% include contact-form.html %}


<div class="partners">
    <div class="row">
        <div class="container"> 

                <img style="padding-top:40px; padding-bottom: 20px;" src="{{ site.baseurl }}/img/Awards 2019.png" alt="awards">
            
            
        </div>
    </div>
</div>
            
<script src="/js/owl.carousel.min.js"></script>
<script>


    $(document).ready(function () {

        $("#owl-logos").owlCarousel({

            autoPlay: 3000, //Set AutoPlay to 3 seconds

            items: 8,
            itemsDesktop: [1199, 3],
            itemsDesktopSmall: [979, 3]

        });
        //$("#owl-partners").owlCarousel({

        //    autoPlay: 3000, //Set AutoPlay to 3 seconds

        //    items: 4,
        //    itemsDesktop: [1199, 3],
        //    itemsDesktopSmall: [979, 3]

        //});

    });


</script>

