---
layout: default
title: Clients
page-header: Join our ever growing list of clients
header-image: bridge5_1170x400.jpg
---


<br/>
<ul>
	{% for client in site.data.customers %}
	<div class="media">
		<a class="pull-left" href="#">
			<img class="size-full wp-image-1047 alignleft" alt="portrait" src="{{ site.baseurl }}/images/logos/{{ client.image }}" width="200" />
		</a>
		<div class="media-body">
			<h4 class="media-heading">{{ client.name }}</h4>
			{{ client.description }}<br><br>

			{% if client.quote %} 
			<div class="well">
				<blockquote>
					<p><span class="fa fa-quote-left fa-2x"> </span> {{ client.quote }}</p>
					<footer><cite title="Source Title">{{ client.quotefrom }}</cite></footer>
				</blockquote>
			</div>
			{% endif %}

			<p><a href="{{ client.website }}">{{ client.website }}</a>

		</div>
	</div>

	<hr />
	{% endfor %}

</ul>

