---
layout: default
title: Clients
page-header: Join our ever growing list of clients today
---

<div class="col-md-11">
	{% for client in site.data.customers %}
	<div class="media">
		<div class="hidden-xs" style="margin-right:15px;">
			<a class="pull-left" href="#">	
				<img alt="portrait" src="{{ site.baseurl }}/img/logos/{{ client.image }}" width="200" />
			</a>
		</div>
		<div class="media-body">
			<span class="visible-xs"><img alt="portrait" src="{{ site.baseurl }}/img/logos/{{ client.image }}" width="200" /></span>
			<h3 class="media-heading"><strong>{{ client.name }}</strong></h3>
			{{ client.description }}<br><br>

			{% if client.quote %} 
			<div class="well">
				<blockquote>
					<p><span class="fa fa-quote-left fa-2x"> </span> {{ client.quote }}</p>
					<footer><cite title="Source Title">{{ client.quotefrom }} <a href="{{ site.baseurl }}{{ client.download }}"> {% if client.download %}(<span class="fa fa-download"></span> View Case study)</a>{% endif %}</cite></footer>
				</blockquote>
			</div>
			{% endif %}

			<p><a href="http://{{ client.website }}">{{ client.website }}</a></p>

		</div>
	</div>

	<hr />
	{% endfor %}
</div>

