---
layout: default
title: About
page-header: About
header-image:
---

<div class="col-md-3">
	<h4>Learn More</h4>
	<div class="list-group">			
			<a href="{{ site.baseurl }}/about.html" class="list-group-item {% if p.url == page.url %} list-group-item-success{% endif %}"><span class="glyphicon glyphicon-phone-alt"></span> About</a>
			<!-- <a href="{{ site.baseurl }}/Vision.html" class="list-group-item {% if p.url == page.url %} list-group-item-success{% endif %}"><span class="glyphicon glyphicon-phone-alt"></span> Vision</a> -->
<!-- 			<a href="{{ site.baseurl }}/IndustryLeadership.html" class="list-group-item {% if p.url == page.url %} list-group-item-success{% endif %}"><span class="glyphicon glyphicon-phone-alt"></span> Industry Leadership</a> -->
			<a href="{{ site.baseurl }}/about.html" class="list-group-item {% if p.url == page.url %} list-group-item-success{% endif %}"><span class="glyphicon glyphicon-phone-alt"></span> Team</a>
			<a href="{{ site.baseurl }}/contact.html" class="list-group-item {% if p.url == page.url %} list-group-item-success{% endif %}"><span class="glyphicon glyphicon-phone-alt"></span> Contact Us</a>
			
	</div>
</div>
<div class="col-md-9">

	
		<p>FRS was founded in 1999 by three actuaries and started as a software firm supporting cross boarder investment companies. Our Invest|Pro™ product was developed in 2004. It quickly rose to become the leading software for the investment administration for wealth managers in the UK &amp; Ireland. Since then FRS have delivered over enterprise installations across the UK, EU, Caribbean and United States. </p>

		<p>At FRS our vision is to provide the best and most intuitive technology to you for your investment administration; to provide you with a completely integrated product and first-class user experience to proactively monitor, control, analyse, value and administer your investments, whatever your scale, and simultaneously minimize your operational costs and risks.</p>

		<p>The Invest|Pro™ solution, built by our actuaries, engineers and IT professionals was specifically designed to securely automate the complexities in the back office of companies that perform critical fund administration functions. FRS has a proven record of industry leadership and continuous product improvement. The Invest|Pro™ product family is a recognized leading benchmark in the investment fund accounting area. Our scalbnle and modular approach ensures that with Invest|Pro™ you can choose the most robust solution to support your growth. </p>

		<p>FRS’ customers are our partners. Our engagement with you is a long term one to support your business. Our staff support your business using expertise and knowledge gained from working in your industry. </p>
</div>

