---
layout: home
title: Home
---
<link rel="stylesheet" href="{{ site.baseurl }}/css/owl.carousel.css">
<div class="mobile-claim visible-xs">
    <div class="container">
        <span class="h1">Automated solutions for life assurance companies.</span>
        <a href="{{ site.baseurl }}/fund_admin.html" class="btn orange-btn">Life Companies</a>
        <a href="{{ site.baseurl }}/asset_mgmt.html" class="btn btn-blue">Asset Managers</a>
    </div>
</div>
 
<!-- Carousel -->
<div id="frs-slider" class="carousel slide hidden-xs">
  <!-- Indicators -->
  <div class="carousel-inner">
    <div class="item active">
        <img src="{{ site.baseurl }}/img/banner9.jpg" class="img-responsive">
        <div class="container">
            <div class="carousel-caption hidden-xs hidden-sm">
                <div class="hero-text">                    
                    <div class="col-md-7">
                        <div class="hero-text">
                        <h1>Fund Admin Software</h1>                        
                        <h2>For Investment Admin in Third Party Administrators, DB/DC Pensions, Super Funds & Life Companies</h2>
                        </div>
                        <a href="{{ site.baseurl }}/fund_admin.html" class="btn btn-blue wow fadeInUp">Invest|Pro™</a>
                        <a href="{{ site.baseurl }}/news" class="btn btn-white wow fadeInUp">Latest News</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- END item -->    
    <div class="item">
      <img src="{{ site.baseurl }}/img/banner8.jpg" class="img-responsive">
      <div class="container">
            <div class="carousel-caption hidden-xs hidden-sm">
                <div class="hero-text">
                    <div class="col-md-7">
                        <div class="hero-text">
                        <!-- white-background"> -->
                        <h1>Software for Asset Managers</h1>
                        <h2>PRIIPs KID's, Oversight, Shadow NAV &amp; IBOR, MIFID II</h2>
                        </div>                        
                        <a href="{{ site.baseurl }}/asset_mgmt.html" class="btn btn-blue wow fadeInUp">Invest|Pro™</a>
                        <a href="{{ site.baseurl }}/news" class="btn btn-white wow fadeInUp">Latest News</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- END item -->  
  <!-- Controls -->
</div>
    <a class="left carousel-control" href="#frs-slider" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#frs-slider" data-slide="next">
        <span class="icon-next"></span>
    </a>  
</div>

<!-- END carousel -->
    <div class="companies">
        <div class="row">
            <div class="container">
                <!--<img src="{{ site.baseurl }}/img/companies_grey.png">-->
                <div id="owl-logos">
                    {% for client in site.data.customers %}
                    <div class="item"><img src="{{ site.baseurl }}{{ site.baseurl }}/img/logos/{{ client.image }}" alt="{{ client.name}}"></div>
                    {% endfor %}
                  
                </div>
            </div>
        </div>
    </div>
<hr class="mt-0">
    <div class="container">
        <div class="vision">
            <h2>Our vision is to provide the best and most intuitive technology to anyone involved in investment administration.</h2> 
        </div>
        <div class="col-md-4 wow fadeIn about-item" data-wow-delay=".2s">
            <a href="{{ site.baseurl }}/fund_admin.html"><img src="img/investpro_circle.png" alt="Invest|Pro"></a>
            <h3><a href="{{ site.baseurl }}/fund_admin.html">Fund Admin</a></h3>
            <p>A unique specialist software solution for the investment administration needs of life companies and asset managers.</p>
        </div>        
        <div class="col-md-4 wow fadeIn about-item" data-wow-delay=".6s">

            <a href="{{ site.baseurl }}/modules/reporting-md/priips.html"><img src="img/ops_circle.png" alt="ops"></a>
            <h3><a href="{{ site.baseurl }}/modules/reporting-md/priips">PRIIPs</a></h3>
            <p>KID software for PRIIPs manufacturers.</p>

        </div>
        <div class="col-md-4 wow fadeIn about-item" data-wow-delay=".6s">
            <a href="{{ site.baseurl }}/modules/reporting-md/solvency.html"><img src="img/grc.png" alt="grc"></a>
            <h3><a href="{{ site.baseurl }}/modules/reporting-md/solvency.html">SII QRT's</a></h3>
            <p>Solvency II - Automated generation of asset QRTs in a controlled environment.</p>
        </div>
    </div>
   
   <!--Video-->
    <div class="featured">
        <div class="container">            
                <video controls loop style="display:block; margin: 0 auto;">
                  <source src="{{ site.baseurl }}/video/FRS Video.mp4" type="video/mp4">                  
                  Your browser does not support this video.
                </video>                
        </div>
    </div>
    
    <hr class="mt-0">
       
            <div class="quote-section">
                <div class="container">
                    <div class="product-features">
                     
                            <div class="col-md-12">
                                <h2 class="wow fadeInUp">Our clients range from some of the biggest life companies in the world to local domestic life companies, and <strong>every single one is vitally important.</strong></h2>
                            </div>
                        

                            <div class="quote col-md-8 col-xs-12" >
                                

                                    <img src="img/quote-left.png" class="quote-left">
                                    <img src="img/quote-right.png" class="quote-right">
                                    <p>The team from Financial Risk solutions did an  excellent job implementing Invest|Pro™, their  industry knowledge added hugely to the project. The system has made a significant improvement to  our entire investment administration department by increasing controls, improving processing times and  facilitating significant scalability. Invest|Pro™ has been very well received by users and management.</p>

                               
                                <div class="triangle">
                                    <img src="img/triangle.png">
                                </div>
                            </div>
                            <div class="col-md-4 case-studies-feature  col-xs-12">
                                <div data-wow-delay=".2s" class="event wow fadeIn animated" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                                    <a href="/insights.html#case-studies">
                                    <h1>Case Studies</h1>
                                    <p class="event-text">
                                        View Case Studies for Domestic, International Life Companies/Asset Managers/Pension Providers/Outsourcers
                                    </p>
                                    <span class="date"><a href="/insights.html#case-studies">click HERE</a></span></a>
                                </div>
                            </div>
                        
                        <div class="row">
                            <div class="col-md-7">
                                <div class="quote-author">
                                    <span class="quote-company grey">Louise Duncan - Zurich International Life</span>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <img src="img/logos/Zurich.png" alt="Zurich International Life" class="quote-logo">
                            </div>
                        </div>
                    </div>
                </div>
                </div><!-- /quote-section -->
               
        <hr class="m-0">
            <!-- Latest News & Events -->
            <div class="news-events">
                <div class="container">
                    <h3>Latest News <span class="amp">&amp;</span> Events</h3>
                    <div class="col-md-3 event wow fadeIn home-feature-event" data-wow-delay=".2s">
                        {% for event in site.data.events limit:1 %}
                        <p class="event-text">Event</p>
                        
                            <h5>
                                {% if event.url %}
                                <a href="{{ event.url }}" target="_blank">{{ event.name }} | {{ event.location }}</a>
                                {% else %}
                                {{ event.name }} | {{ event.location }}
                                {% endif %}
                            </h5>

                       
                        <span class="date">{{ event.date | date_to_long_string }}</span>
                       
                        {% endfor %}
                        <p class="event-text">FRS in the media</p>
                        {% for media in site.data.medias limit:2 %}
                        
                        <h5>
                            {% if media.url %}
                            <a href="{{ media.url }}" target="_blank">{{ media.title }}</a>
                            {% else %}
                            {{ media.title }}
                            {% endif %}
                        </h5>
                        <span class="date">{{ media.source }} | {{ media.date | date_to_long_string }}</span>
                       
                        {% endfor %}
                            
                    </div>
                    {% for post in site.posts limit:3 %}
                    <div class="col-md-3 col-sm-6  news-item wow fadeIn" style="padding-left:15px;" data-wow-delay=".2s">
                        <img src="img/news{{ forloop.index }}.jpg" alt="news">
                        <p class="news"><img src="img/news.png" alt="news">News</p>
                        <h5><a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}</a></h5>
                        <p>{{ post.date | date_to_long_string }}</p>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>


<hr class="m-0">
<div class="partners">
    <div class="row">
        <div class="container">
            <h3>Awards</h3>
                <img src="{{ site.baseurl }}/img/Awards 2019.png" alt="awards">
            
            
        </div>
    </div>
</div>
            {% include contact-form.html %}
<script src="/js/owl.carousel.min.js"></script>
<script>


    $(document).ready(function () {

        $("#owl-logos").owlCarousel({

            autoPlay: 3000, //Set AutoPlay to 3 seconds

            items: 8,
            itemsDesktop: [1199, 3],
            itemsDesktopSmall: [979, 3]

        });
        //$("#owl-partners").owlCarousel({

        //    autoPlay: 3000, //Set AutoPlay to 3 seconds

        //    items: 4,
        //    itemsDesktop: [1199, 3],
        //    itemsDesktopSmall: [979, 3]

        //});

    });


</script>

