---
layout: home
title: Home
---

<div class="mobile-claim visible-xs">
    <div class="container">
        <span class="h1">Automated solutions for life assurance companies.</span>
        <a href="{{ site.baseurl }}/solutions.html" class="btn orange-btn">Our Products</a>
        <a href="{{ site.baseurl }}/why_frs.html" class="btn btn-blue">Why FRS?</a>
    </div>
</div>
 
<!-- Carousel -->
<div id="frs-slider" class="carousel slide hidden-xs">
  <!-- Indicators -->
  <div class="carousel-inner">
    <div class="item active">
        <img src="{{ site.baseurl }}/img/banner1.jpg" class="img-responsive">
        <div class="container">
            <div class="carousel-caption hidden-xs hidden-sm">
                <div class="hero-text">
                    <div class="col-md-7">
                        <h1 class="wow fadeInDown" data-wow-duration="2s">Fund Administration Software for Life Assurance Companies</h1>
                        <h2 class="wow fadeInDown">A completely integrated product &amp; user experience to pro-actively monitor and administer investments</h2>
                        <a href="{{ site.baseurl }}/solutions.html" class="btn btn-blue wow fadeInUp">Invest|Pro™</a>
                        <a href="{{ site.baseurl }}/why_frs.html" class="btn btn-white wow fadeInUp">Why FRS?</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- END item -->
    <div class="item">
        <img src="{{ site.baseurl }}/img/banner2.jpg" class="img-responsive">
        <div class="container">
            <div class="carousel-caption hidden-xs hidden-sm">
                <div class="hero-text">
                    <div class="col-md-7">
                        <h1>Solvency II QRTs - Know Your Assets</h1>
                        <h2>Invest|GRC™ provides fund oversight and risk management</h2>
                        <a href="{{ site.baseurl }}/solutions.html#governance" class="btn btn-blue wow fadeInUp">Invest|GRC™</a>
                        <a href="{{ site.baseurl }}/why_frs.html" class="btn btn-white wow fadeInUp">Why FRS?</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- END item -->
    <div class="item">
      <img src="{{ site.baseurl }}/img/banner3.jpg" class="img-responsive">
      <div class="container">
            <div class="carousel-caption hidden-xs hidden-sm">
                <div class="hero-text">
                    <div class="col-md-7">
                        <h1>Oversight software for asset managers</h1>
                        <h2>Mitigate risk by continually monitoring breaches and exceptions to critical investment processes</h2>
                        <a href="{{ site.baseurl }}/solutions.html#supervision" class="btn btn-blue wow fadeInUp">Invest|OPS™</a>
                        <a href="{{ site.baseurl }}/why_frs.html" class="btn btn-white wow fadeInUp">Why FRS?</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- END item -->
  </div>
  <!-- Controls -->
    <a class="left carousel-control" href="#frs-slider" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#frs-slider" data-slide="next">
        <span class="icon-next"></span>
    </a>  
</div>
<!-- END carousel -->
    <div class="companies">
        <div class="row">
            <div class="container">
                <img src="{{ site.baseurl }}/img/companies_grey.png">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="vision">
            <h2>Our vision is to provide the best and most intuitive technology to anyone involved in investment administration.</h2> 
        </div>
        <div class="col-md-3 wow fadeIn about-item" data-wow-delay=".2s">
            <img src="img/investpro_circle.png" alt="Invest|Pro">
            <h3><a href="{{ site.baseurl }}/solutions.html">Invest|Pro™</a></h3>
            <p>A unique specialist software solution for the investment administration needs of life assurance companies.</p>
        </div>
        <div class="col-md-3 wow fadeIn about-item" data-wow-delay=".4s">
            <img src="img/products.png" alt="Invest|Retail">
            <h3><a href="{{ site.baseurl }}/modules/individual-md/retail.html">Invest|Retail™</a></h3>
            <p>Investment dealing and valuations self-service web application.</p>
        </div>
        <div class="col-md-3 wow fadeIn about-item" data-wow-delay=".6s">
            <img src="img/ops_circle.png" alt="ops">
            <h3><a href="{{ site.baseurl }}/solutions.html#supervision">Invest|OPS™</a></h3>
            <p>Outsourcing Partner Supervision in the cloud.</p>
        </div>
        <div class="col-md-3 wow fadeIn about-item" data-wow-delay=".6s">
            <img src="img/grc.png" alt="grc">
            <h3><a href="{{ site.baseurl }}/solutions.html#governance">Invest|GRC™</a></h3>
            <p>Governance, Risk Management and Compliance in the cloud.</p>
        </div>
    </div>
    <div class="featured">
        <div class="container">
            <div class="featured-text">
                <div class="macbook wow fadeInLeft">
                    <img src="{{ site.baseurl }}/img/invest-pro.png">
                </div>
                <div class="col-md-6 pull-right">
                    <span class="orange caps wow fadeInDown">Featured</span>
                    <h2 class="wow fadeInDown">Solvency II Reporting</h2>
                    <p class="wow fadeInDown">lnvest|Comp™  provides company management with visibility of aggregate asset positions, and other relevant compliance and risk management data, across subsidiaries in a centralised data warehouse.</p>
                    <a href="{{ site.base_url }}/modules/collective-md/solvency.html" class="btn orange-btn wow fadeInUp">Find Out More</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <hr class="mt-0">
        <div class="container">
            <div class="quote-section">
                    <div class="product-features">
                        <div class="row">
                            <div class="col-md-12">
                                <h2  class="wow fadeInUp">Our customers range from some of the biggest life companies in the world to local domestic life companies, and <strong>every single one is vitally important to us.</strong></h2> 
                            </div>   
                        </div>
                        <div class="quote">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="img/quote-left.png" class="quote-left">
                                    <img src="img/quote-right.png" class="quote-right">
                                    <p>Invest|GRC™ will enable us to meet our Solvency II investment reporting requirements in an easy-to-use format. <strong>The cloud-based solution is easy to deploy so there is minimum disruption for the team yet maximum benefit for the business.</strong> Both the technical and the actuarial teams at FRS really understand our business and the impact of Solvency II on our operations which should contribute to a smooth implementation.”.</p>
                                </div>
                            </div>
                            <div class="triangle">
                                <img src="img/triangle.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="quote-author">
                                    <span class="quote-company grey"> Finance Director  - St. James’s Place International</span>
                                </div>
                            </div>
                            <div class="col-md-2 pull-right">
                                <img src="img/sjpi.png" alt="St. James’s Place International" class="quote-logo">
                            </div>
                        </div>
                    </div>
            </div><!-- /quote-section -->
        </div>
        <hr class="m-0">
            <!-- Latest News & Events -->
            <div class="news-events">
                <div class="container">
                    <h3>Latest News <span class="amp">&amp;</span> Events</h3>
                    <div class="col-md-3 event wow fadeIn" data-wow-delay=".2s">
                        <h1>Nov</h1>
                        <p class="event-text">Event</p>
                        <h5>Solvency II - Asset Look Through, Isle of Man</h5>
                        <span class="date">Jan 28th 2015</p>
                    </div>
                    {% for post in site.posts limit:3 %}
                    <div class="col-md-3 col-sm-6  news-item wow fadeIn" style="padding-left:15px;" data-wow-delay=".2s">
                        <img src="img/news{{ forloop.index }}.jpg" alt="news">
                        <p class="news"><img src="img/news.png" alt="news">News</p>
                        <h5><a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}</a></h5>
                        <p>{{ post.date | date_to_long_string }}</p>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
            {% include contact-form.html %}