---
layout: default
title: Insights
page-header: White Papers
header-image:
show-subscribe: false
---

<div class="row" style="padding-bottom:20px; margin-left:-0px;">
  <div class="col-md-9" id="insights">
      <div class="row">
          {% include contact-form-insights.html %}
      </div>
      <hr class="m-0">
      <div class="row" id="case-studies">
          <h3>Case Studies</h3>
          <p>The following are case studies from some of our leading clients:</p>
          <span class="col-xs-12 col-md-3" style="margin-bottom:10px"><a href="{{ site.baseurl }}/Resources/RL360-case-study-June-2013.pdf"><img src="{{ site.baseurl }}/img/rl360-grey.jpg"></a></span>
          <span class="col-xs-12 col-md-3" style="margin-bottom:10px;"><a href="{{ site.baseurl }}/Resources/Mobius-case-study-2013-08-21.pdf"><img src="{{ site.baseurl }}/img/mobus-life-grey.jpg"></a></span>
          <span class="col-xs-12 col-md-3" style="margin-bottom:10px"><a href="{{ site.baseurl }}/Resources/FF-case-study-2013-08-30.pdf"><img src="{{ site.baseurl }}/img/friends-first-grey.jpg"></a></span>
      </div>
    </div>



<div class="col-md-3">
  {% for quote in site.data.quotes %}
  <blockquote>
    <p>{{ quote.quote }}</p>
    <footer><cite title="Source Title">{{ quote.title}}, {{ quote.company }}</cite></footer>
  </blockquote>
  {% endfor %}
</div>
</div>



