---
layout: default
title: News
---

<div class="container">
	<!-- Example row of columns -->
	<div class="row">


		<div class="col-md-8 div-border">
			<div class="page-header">	
				<h2>News</h2>
			</div>
			
			
			
			
			
			{% for post in site.posts %}

			<div class="media">
				<a class="pull-left" href="#">
					<img src="{{ post.image }}">
				</a>
				<div class="media-body">
					<a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
					<p><strong>{{ post.date | date_to_long_string }}</strong></p>
					{{ post.content | truncatewords:30 | strip_html }}
				</div>
			</div>

			<hr />

			{% endfor %}
		</div>
		<div class="col-md-4">
			<div class="page-header">	
				<h2>Events</h2>
			</div>

			{% for event in site.data.events limit:3 %}
			
				{% if event.image %}<img src="{{ event.image }}"/>{% endif %}
				{{ event.name }} - {{ event.date }} - {{ event.location }}
				{% if event.url %}<a href="{{ event.url }}">See website{% endif %}
				<br/><br/>
			{% endfor %}

		</div>

	</div>
</div>