---
layout: default
title: News
page-header: Keep up to date with the latest news
header-image: 
---

<div class="col-md-9 div-right-border">
	<h2>News</h2>
	<!-- This loops through the paginated posts -->
	{% for post in paginator.posts %}
		<p><a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}"><img src="{{ site.baseurl }}/img/news.png">{{ post.title }}</a></p>
		<p><strong>{{ post.date | date_to_long_string }}</strong> - {{ post.content | truncatewords:30 | strip_html }}</p>
	<hr />
	{% endfor %}

	{% if paginator.total_pages > 1 %}
	<div class="pagination">
		{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
		{% else %}
		<span>&laquo; Prev</span>
		{% endif %}

		{% for page in (1..paginator.total_pages) %}
		{% if page == paginator.page %}
		<em>{{ page }}</em>
		{% elsif page == 1 %}
		<a href="{{ '/news/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
		{% else %}
		<a href="{{ site.paginate_path |prepend: '/'| prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
		{% endif %}
		{% endfor %}

		{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
		{% else %}
		<span>Next &raquo;</span>
		{% endif %}
	</div>
	{% endif %}

</div>

<div class="col-md-3 media-feature" onclick="location.href='/media';" style="cursor:pointer;">

    <!-- <div data-wow-delay=".2s" class="event wow fadeIn animated" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
        <h1>Media Coverage</h1>
        <p class="event-text">Keep up to date with FRS in the media <a href="/media">here</a></p>
    </div> -->

</div>
<div id="events" class="col-md-3">
        <h2>See FRS at...</h2>
        {% for event in site.data.events %}

        <strong>{{ event.name }}</strong><br>
        {{ event.location }}<br>
        {{ event.date }}<br>
        {% if event.url %}<a href="{{ event.url }}" target="_blank">See website</a>{% endif %}
        <br /><br />
        {% endfor %}
</div>
