---
layout: default
title: News
page-header: Keep up to date with the latest news and events
header-image: 
---

<div class="col-md-8 div-right-border">
	<h3>News</h3>
	<!-- This loops through the paginated posts -->
	{% for post in paginator.posts %}
	<div class="media">
		<div class="media-body">
						<h4><a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}</a></h4>
			<p class="author">
				<p><strong>{{ post.date | date_to_long_string }}</strong></p>
			</p>
			<div class="content">
				{{ post.content | truncatewords:30 | strip_html }}
			</div>
		</div>
	</div>
	<hr />
	{% endfor %}

	{% if paginator.total_pages > 1 %}
	<div class="pagination">
		{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path | prepend: '/' + site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
		{% else %}
		<span>&laquo; Prev</span>
		{% endif %}

		{% for page in (1..paginator.total_pages) %}
		{% if page == paginator.page %}
		<em>{{ page }}</em>
		{% elsif page == 1 %}
		<a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
		{% else %}
		<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
		{% endif %}
		{% endfor %}

		{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
		{% else %}
		<span>Next &raquo;</span>
		{% endif %}
	</div>
	{% endif %}

</div>

<div class="col-md-4">
	<h3>Events</h3>

{% for event in site.data.events limit:3 %}

<strong>{{ event.name }}</strong><br>
	{{ event.location }}<br>
	{{ event.date }}<br>
	{% if event.url %}<a href="{{ event.url }}">See website</a>{% endif %}
		<br/><br/>
{% endfor %}
</div>