<section>
    <div class="subscribe-wrapper">
        <div class="container">
            <h2>Subscribe to our research brief</h2>
            <form method="POST" action="//forms.brace.io/chris.nicholson@frsltd.com" onsubmit="return checkForm();">
                <input type="text" placeholder="Your name" name="name" id="name">
                <input type="text" placeholder="Your email" name="_replyto" id="email"> 
                <input type="hidden" name="_next" value="http://chrispn1.github.io/frs/submission.html" />            
                <input type="submit" value="Send">
                <span class="error" id="nameError" style="display:none";><br><br>Required: Please enter your name</span>
                <span class="error" id="emailError" style="display:none";><br><br>Required: Please enter your email address</span>
                <span class="error" id="emailInvalid" style="display:none";><br><br>Please enter a valid email address</span>
            </form>
        </div>
    </div>
</section>