<section>
    <div class="demo-wrapper">
        <div class="container">
            <h2>Book a demo to see how the Invest|Pro™ platform can work for you.</h2>
            <form method="POST" action="//formspree.io/monica.kelly@frsltd.com" onsubmit="return checkDemoForm();">
                <input type="text" placeholder="Your name" name="name" id="name" class="subscription-padding">
                <input type="text" placeholder="Your company" name="company" id="company" class="subscription-padding"> 
                <input type="text" placeholder="Your email" name="_replyto" id="email" class="subscription-padding"> 
                <input type="text" name="_gotcha" style="display:none" />
                <input type="hidden" name="_next" value="http://www.frsltd.com/submission.html" />            
                <input type="submit" value="Book Now" class="btn dark-orange-btn">
                <span class="error" id="nameError" style="display:none";><br><br>Required: Please enter your name</span>
                <span class="error" id="emailError" style="display:none";><br><br>Required: Please enter your email address</span>
                <span class="error" id="emailError" style="display:none";><br><br>Required: Please enter your email address</span>
                <span class="error" id="emailInvalid" style="display:none";><br><br>Please enter a valid email address</span>
            </form>
        </div>
    </div>
</section>

