        <hr>
	<div class="container-fluid grey-background">
		<div class="container">
        	<footer class="grey-background">
            	<p>&copy; FRS 2014 | <a href="">Terms and Conditions</a> | <a href="">Disclaimer</a></p>
        	</footer>
		</div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>