        <div class="footer-wrapper">
            <div class="container">
                <div class="footer">
                    <img class="footer-img pull-left" src="{{ site.baseurl }}/img/logo_footer.png" alt="frs logo">
                    <div class="col-md-9">
                        <p>2-4 Clanwilliam Terrace, Grand Canal Quay, Dublin 2, Ireland. Registered in Ireland Registration no. 318216</p>
                        <ul class="footer-links">
                            <li>&copy;FRS 2014</li><span></span>
                            <li><a href="{{ site.baseurl }}/disclaimer.html">Disclaimer</a></li><span></span>
                            <li><a href="{{ site.baseurl }}/privacy.html">Privacy Policy</a></li><span></span>
                            <li><a href="{{ site.baseurl }}/contact.html">Contact Us</a></li><span></span>
                            <li><a href="{{ site.baseurl }}/about.html">About</a></li>
                        </ul>
                    </div>
                    <div class="social">
                        <div class="col-md-2 pull-right">
                            <a href="#"><img src="{{ site.baseurl }}/img/rss.jpg"></a>
                            <a href="#"><img src="{{ site.baseurl }}/img/linkedin.jpg"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- JavaScript -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>        
        <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
        <script src="{{ site.baseurl }}/js/modernizr.js"></script>
        <script src="{{ site.baseurl }}/js/respond.js"></script>
        <script src="{{ site.baseurl }}/js/wow.min.js"></script>
        <script src="{{ site.baseurl }}/js/jquery.sidr.min.js"></script>
        <script>
            //Wow animations
            new WOW().init();
            $(document).ready(function() {
                  $('.carousel').carousel({
                    interval: 8000
                })
                  $('.nav-wrapper').affix({
                    offset: {
                    top: 100
                    }
                });
                $('#mobile-menu').sidr();               
                $('.submenu').click(function(e) {
                    e.preventDefault();
                    $(this).next().slideToggle();
                });
            });
            //Close mobile menu
            $(window).bind('resize', function () {

            if($('body').hasClass('sidr-open') && $(window).width() >= 768) {
                $.sidr('close');
            }

            $('body, .closemenu').click(function() {
              $.sidr('close');
            });

            $('#sidr').click(function(event){
                event.stopPropagation();
            }); 
        });
    </script>     
</body>
</html>
