        <div class="footer-wrapper">
            <div class="container">
                <div class="footer">
                    <a class="to-top" href="#" title="Top">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <img class="footer-img pull-left" src="{{ site.baseurl }}/img/logo_footer.png" alt="frs logo">
                    <div class="col-md-9">
                        <p>2-4 Clanwilliam Terrace, Grand Canal Quay, Dublin 2, Ireland. Registered in Ireland Registration no. 318216</p>
                        <ul class="footer-links">
                            <li>&copy;FRS 2019</li><span></span>
                            <li><a href="{{ site.baseurl }}/disclaimer.html">Disclaimer</a></li><span></span>
                            <li><a href="{{ site.baseurl }}/privacy.html">Privacy Policy</a></li><span></span>
                            <li><a href="{{ site.baseurl }}/contact.html">Contact Us</a></li><span></span>
                            <li><a href="{{ site.baseurl }}/about.html">About</a></li>
                        </ul>
                    </div>
                    <div class="social">
                        <div class="col-md-2 pull-right">
                            <a href="http://www.linkedin.com/company/frs-ltd"><img src="{{ site.baseurl }}/img/linkedin.jpg"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- JavaScript -->
        <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
        <script src="{{ site.baseurl }}/js/modernizr.js"></script>
        <script src="{{ site.baseurl }}/js/respond.js"></script>
        <script src="{{ site.baseurl }}/js/wow.min.js"></script>
        <script src="{{ site.baseurl }}/js/jquery.sidr.min.js"></script>
        <script src="{{ site.baseurl }}/js/contact-validation.js"></script>

        <script>
            //Wow animations
            new WOW().init();
            $(document).ready(function() {
                $('.carousel').carousel({
                    interval: 8000
                })
                $("body").scrollspy({ target:"#tabnavigation" });
                $('.nav-wrapper').affix({
                    offset: {
                    top: 100
                    }
                });

            /* smooth scrolling for scroll to top */
            $('.scroll-top').click(function(){
            $('body,html').animate({scrollTop:0},1000);
            })

            /* smooth scrolling for nav sections */
            $('#innernav li > a ').click(function(){
             var link = $(this).attr('href');
            var posi = $(link).offset().top-60;
            var link = $(this).attr('href');
            $('body,html').animate({scrollTop:posi},700);
            });

            $('#tabnavigation li > a').click(function(){
             var link = $(this).attr('href');
            var posi = $(link).offset().top-110;
            var link = $(this).attr('href');
            $('body,html').animate({scrollTop:posi},700);
            });

            $('#tabnav').affix({
            offset: {
            top: $('.hero-productlanding').height()
            }
            }); 


                 $('#mobile-menu').sidr({
                    side: 'right' 
                 });
                 $("#sidr").removeAttr("style");
                $('.submenu').click(function(e) {
                    e.preventDefault();
                    $(this).next().slideToggle();
                });
            });
            //Close mobile menu
            $(window).bind('resize', function () {

            if($('body').hasClass('sidr-open') && $(window).width() >= 768) {
                $.sidr('close', 'sidr');
            }

           $(document).bind("click", function () {
             $.sidr('close', 'sidr');
         });
            $('.to-top').click(function(){
                $('body,html').animate({scrollTop:0},700);
            }) 
             
        });
    </script>     
</body>
    <script type="text/javascript"> _linkedin_partner_id = "1235105"; window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || []; window._linkedin_data_partner_ids.push(_linkedin_partner_id); </script><script type="text/javascript"> (function(){var s = document.getElementsByTagName("script")[0]; var b = document.createElement("script"); b.type = "text/javascript";b.async = true; b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js"; s.parentNode.insertBefore(b, s);})(); 
    </script> 
    <noscript> <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=1235105&fmt=gif" />
    </noscript>
</html>