<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>FRS - {{ page.title }}</title>
    <meta name="keywords" content="FRS, Financial, Risk, Solutions, ireland, dublin, frsltd.com, software, fund admin, nav, fund of funds, investment administration, portfolio, valuation, fund, solvency, life, assurance, box, management,unit, linked, net, asset, value, trading, Unit pricing software, Box management software, Investment administration software, Investment accounting software, Fund administration software, Life assurance software ,NAV software,Portfolio valuation software,Fund valuation software,Life assurance fund admin software,Fund of funds, iCPPI, Micro CPPI, underfunding, asset liability unit matching, asset QRT, quantitative reporting template, Box management">
  <meta name="description" content="FRS License Unit Linked Fund Investment Administration Software to Life Insurers, Oversight Software to Asset Managers and RegTech.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">        
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon.ico"> 
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">        
    <link rel="stylesheet" href="{{ site.baseurl }}/css/animate.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/sidr.css">
    <!-- Font Awesome -->
    <!-- <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <!-- Googe fonts Lato -->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
    <!-- Googe fonts Open Sans -->
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>        <!-- Typekit-->
    <script type="text/javascript" src="http://use.typekit.net/avd6alx.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-25904846-1', 'auto');
  ga('send', 'pageview');

</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script type="text/javascript">
    (function (n) {
        var u = window.location.href;
        var p = u.split("/")[0];
        var t = n.createElement("script"), i;
        t.type = "text/javascript";
        t.async = !0;
        t.src = p + "//dashboard.whoisvisiting.com/who.js";
        i = n.getElementsByTagName("script")[0];
        i.parentNode.insertBefore(t, i)
    })(document);

        var whoparam = whoparam || [];
        whoparam.push(["AcNo", "8129e29575574021857abb5a74520424"]);
        whoparam.push(["SendHit", ""]
    );
</script>
  <script>/*<![CDATA[*/(function(w,a,b,d,s){w[a]=w[a]||{};w[a][b]=w[a][b]||{q:[],track:function(r,e,t){this.q.push({r:r,e:e,t:t||+new Date});}};var e=d.createElement(s);var f=d.getElementsByTagName(s)[0];e.async=1;e.src='//a20807.actonservice.com/cdnr/cid2/acton/bn/tracker/20807';f.parentNode.insertBefore(e,f);})(window,'ActOn','Beacon',document,'script');ActOn.Beacon.track();/*]]>*/</script>
  
</head>
<body>
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
            <div class="header-wrapper">
                <div class="container">
                    <div class="header"> 
                        <a href="{{ site.baseurl }}/"><img class="logo" src="{{ site.baseurl }}/img/logo_csi.png"></a>
                                                
                        <div id="header-contact" class="pull-right contact hidden-xs">                            
                            <a href="{{ site.baseurl }}/contact.html"><span class="contact-us">Contact Us</span></a>
                            <a class="mailto" href="mailto:frank.carr@frsltd.com,Matthew.Baldwin@frsltd.com"><i class="fa fa-envelope"></i></a>
                            <a class="linkedin" href="http://www.linkedin.com/company/frs-ltd"><i class="fa fa-linkedin-square"></i></a>
                        </div>
                        <a id="mobile-menu" href="#sidr" class="pull-right"><img src="{{ site.baseurl }}/img/mob-menu.png" alt=""></a>
                        <div id="sidr" style="display: none;">
                            <a href="" class="closemenu" onclick="$.sidr('close', 'sidr');return false;"><i class="fa fa-times"></i></a>
                            <ul>
                                <li> <a href="{{ site.baseurl }}/">Home</a></li>                                
                                <li> <a>Software for...</a>                                                               
                                <li> <a class="mobile-submenu" href="{{ site.baseurl }}/fund_admin.html">- Life Companies</a></li>
                                <li> <a class="mobile-submenu" href="{{ site.baseurl }}/asset_mgmt.html">- Asset Managers</a></li>
                                <li> <a>FRS...</a>
                               
                                <li> <a class="mobile-submenu" href="{{ site.baseurl }}/why_frs.html">- Why FRS?</a></li> 
                                <li> <a class="mobile-submenu" href="{{ site.baseurl }}/services.html">- Services</a></li>
                                <li> <a class="mobile-submenu" href="{{ site.baseurl }}/about.html">- About</a></li>
                                
                                                               
                                <li> <a href="{{ site.baseurl }}/clients.html">Clients</a></li>
                                <li> <a href="{{ site.baseurl }}/insights.html">Research</a></li> 
                                <li> <a>Media...</a>
                                <li> <a class="mobile-submenu" href="{{ site.baseurl }}/media">- Coverage</a></li>
                                <li> <a class="mobile-submenu" href="{{ site.baseurl }}/news">- News</a></li>
                                

                           
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- END header-wrapper -->  
            <div class="nav-wrapper">
                <div class="container">
                   <ul class="nav primary">
                    <li {% if page.title == 'Home' %}class="active"{% endif %}><a href="{{ site.baseurl }}/">Home</a></li>                    
                        
                        <li class ="dropdown"><a class="dropbtn" >Software for...</a>   
                            <div class="secondmenu">                            
                                <a href="{{ site.baseurl }}/fund_admin.html">Life Companies</a>                            
                                <a href="{{ site.baseurl }}/asset_mgmt.html">Asset Managers</a>                        
                            </div>
                        </li>
                        
                        <li class ="dropdown" ><a class="dropbtn" >FRS</a>                            
                            <div class="secondmenu">                            
                                <a href="{{ site.baseurl }}/why_frs.html">Why FRS?</a>                                
                                <a href="{{ site.baseurl }}/services.html">Services</a>                            
                                <a href="{{ site.baseurl }}/about.html">About</a>
                                                        
                                
                            </div>
                        </li>

                        
                    <li {% if page.title == 'Clients' %}class="active"{% endif %}><a href="{{ site.baseurl }}/clients.html">Clients</a></li>
                    <li {% if page.title == 'Insights' %}class="active"{% endif %}><a href="{{ site.baseurl }}/insights.html">Research</a></li>  
                     

                        
                        <li class ="dropdown"><a class="dropbtn" >Media</a>                              
                            <div class="secondmenu">   
                                <a href="{{ site.baseurl }}/media">Coverage</a>
                                <a href="{{ site.baseurl }}/news">News</a>                                
                            </div>
                        </li>                        

                </ul>
            </div>
        </div><!-- END nav-wrapper --> 
