<p></p>
<hr/>

<p><b>For Media enquiries</b>:</p>
<p>Contact Martina Doherty at <a href="mailto:Martina@md-comms.com">Martina@md-comms.com</a> or +44 (0)7951 057146</p>
<p><b> </b></p>
<p><b>Notes to Editor</b></p>
<p><b>About Financial Risk Solutions (FRS)</b></p>
<p>Financial Risk Solutions Ltd (FRS) is a leading provider of unit pricing and investment administration software specifically designed for the Life Assurance industry. It was founded in 1999 by actuaries and IT specialists and is one of the leading software providers in its sector.</p>
<p>Its Invest|Pro™ product suite is a recognised leading benchmark in the life assurance investment administration market and clients are some of the biggest brands in Life Assurance and Third Party Administration including Accenture Insurance Services, MetLife, and IFDS.</p>
<p>Invest|Pro™ is a modular software system for investment administration that can manage unit pricing and portfolio valuations, asset/liability unit matching, box management, trade order management, investment accounting, financial reporting and compliance with investment mandates in a single application.  Product types covered include unit-linked funds, portfolio bonds, self-invested/directed pensions, shareholder funds and with-profit funds.</p>
<p>For more information visit <a href="http://www.frsltd.com/" >http://www.frsltd.com</a></p>