<h4>Core Modules</h4>
<div class="list-group">
{% for p in site.pages %}
    {% if p.url contains 'core' %}
		<a href="{{ site.baseurl }}{{ p.url }}" class="list-group-item {% if p.url == page.url %} list-group-item-success{% endif %}"><span class="glyphicon {{ p.icon }}"></span> {{ p.sub-title }}</a>
    {% endif %}
  {% endfor %}
</div>

<h4>Optional Modules</h4>
<div class="list-group">
	{% for p in site.pages %}
	    {% if p.url contains 'optional' %}
			<a href="{{ site.baseurl }}{{ p.url }}" class="list-group-item {% if p.url == page.url %} list-group-item-success{% endif %}"><span class="glyphicon {{ p.icon }}"></span> {{ p.sub-title }}</a>
	    {% endif %}
	{% endfor %}
</div>

<h4>Standalone Modules</h4>
<div class="list-group">
	{% for p in site.pages %}
	    {% if p.url contains 'standalone' %}
			<a href="{{ site.baseurl }}{{ p.url }}" class="list-group-item {% if p.url == page.url %} list-group-item-success{% endif %}"><span class="glyphicon {{ p.icon }}"></span> {{ p.sub-title }}<span class="label label-default">{{ p.nav-label }}</span></a>
	    {% endif %}
	{% endfor %}
</div><!-- <span class="badge">new</span> -->