<h4>Application Areas</h4>
<div class="list-group">
	{% for p in site.pages %}
	{% if p.url contains 'application' %}

	{% if page.url contains 'individual' and p.url contains 'individual' %}
	{% assign highlight = true %}
	{% elsif page.url contains 'collective' and p.url contains 'collective' %}
	{% assign highlight = true %}
	{% elsif page.url contains 'outsourcing' and p.url contains 'outsourcing' %}
	{% assign highlight = true %}
	{% elsif page.url contains 'risk' and p.url contains 'risk' %}
	{% assign highlight = true %}
	{% else %}
	{% assign highlight = false %}
	{% endif %}

	<a href="{{ site.baseurl }}{{ p.url }}" class="list-group-item {% if highlight %} list-group-item-success {% endif %}"><span class="glyphicon {{ p.icon }}"></span> {{ p.sub-title }}</a><span class="label label-default">{{ p.nav-label }}</span>
	{% endif %}
	{% endfor %}
</div>

{% if page.url contains 'individual' %}
<h4>Individual Account Modules</h4>
<div class="list-group">

	{% for p in site.pages | sort "p.sub-title" %}

	{% if p.url contains 'individual-md' %}
	<a href="{{ site.baseurl }}{{ p.url }}" class="list-group-item {% if p.url == page.url %} list-group-item-success{% endif %}"><span class="glyphicon {{ p.icon }}"></span> {{ p.sub-title }} <span class="label label-default">{{ p.nav-label }}</span></a>
	{% endif %}
	{% endfor %}
</div>  
{% endif %}


{% if page.url contains 'collective' %}
<h4>Collective Fund Modules</h4>
<div class="list-group">

	{% for p in site.pages | sort "p.sub-title" %}

	{% if p.url contains 'collective-md' %}
	<a href="{{ site.baseurl }}{{ p.url }}" class="list-group-item {% if p.url == page.url %} list-group-item-success{% endif %}"><span class="glyphicon {{ p.icon }}"></span> {{ p.sub-title }} <span class="label label-default">{{ p.nav-label }}</span></a>
	{% endif %}
	{% endfor %}
</div>
{% endif %}


{% if page.url contains 'outsourcing' %}
<h4>Outsourcing Modules</h4>
<div class="list-group">

	{% for p in site.pages | sort "p.sub-title" %}

	{% if p.url contains 'outsourcing-md' %}
	<a href="{{ site.baseurl }}{{ p.url }}" class="list-group-item {% if p.url == page.url %} list-group-item-success{% endif %}"><span class="glyphicon {{ p.icon }}"></span> {{ p.sub-title }} <span class="label label-default">{{ p.nav-label }}</span></a>
	{% endif %}
	{% endfor %}
</div>
{% endif %}

{% if page.url contains 'risk' %}
<h4>Investment Governance Modules</h4>
<div class="list-group">

	{% for p in site.pages | sort "p.sub-title" %}

	{% if p.url contains 'risk-md' %}
	<a href="{{ site.baseurl }}{{ p.url }}" class="list-group-item {% if p.url == page.url %} list-group-item-success{% endif %}"><span class="glyphicon {{ p.icon }}"></span> {{ p.sub-title }} <span class="label label-default">{{ p.nav-label }}</span></a>
	{% endif %}
	{% endfor %}
</div>
{% endif %}


<!-- <h4>Optional Modules</h4>
<div class="list-group">
	{% for p in site.pages %}
	    {% if p.url contains 'optional' %}
			<a href="{{ site.baseurl }}{{ p.url }}" class="list-group-item {% if p.url == page.url %} list-group-item-success{% endif %}"><span class="glyphicon {{ p.icon }}"></span> {{ p.sub-title }}</a>
	    {% endif %}
	{% endfor %}
</div>

<h4>Standalone Modules</h4>
<div class="list-group">
	{% for p in site.pages %}
	    {% if p.url contains 'standalone' %}
			<a href="{{ site.baseurl }}{{ p.url }}" class="list-group-item {% if p.url == page.url %} list-group-item-success{% endif %}"><span class="glyphicon {{ p.icon }}"></span> {{ p.sub-title }}</a><span class="label label-default">{{ p.nav-label }}</span>
	    {% endif %}
	{% endfor %}
</div><!-- <span class="badge">new</span> -->
