{% include header.html %}

<section id="funds" class="moduleblock">
	<div class="container">
		<h1 class="portfolios">Collective Funds | <small>The oversight you need to manage your data</small></h1>
		<hr>
		<div class="col-md-3">

			<div class="list-group">  
				<a href="{{ site.baseurl }}/modules/collective-md/analytics.html" class="list-group-item {% if page.sub-title == 'Analytics' %}active{% endif %}"><span class="glyphicon glyphicon-search"></span> Analytics <span class="label label-default"></span></a>
				<a href="{{ site.baseurl }}/modules/collective-md/asset-reconciliations.html" class="list-group-item {% if page.sub-title == 'Asset Reconciliations' %}active{% endif %}"><span class="fa fa-exchange-alt"></span> Asset Reconciliations <span class="label label-default"></span></a>
				<a href="{{ site.baseurl }}/modules/collective-md/box-management.html" class="list-group-item {% if page.sub-title == 'Box Management' %}active{% endif %}"><span class="fab fa-dropbox"></span> Box Management  <span class="label label-default"></span></a>
				<a href="{{ site.baseurl }}/modules/collective-md/cash-allocation.html" class="list-group-item {% if page.sub-title == 'Cash Allocations - Appropriations' %}active{% endif %}"><span class="fa fa-sitemap"></span> Cash Allocations - Appropriations <span class="label label-default"></span></a>
				<a href="{{ site.baseurl }}/modules/collective-md/charges-and-fees.html" class="list-group-item {% if page.sub-title == 'Charges and Fees' %}active{% endif %}"><span class="far fa-money-bill-alt"></span> Charges and Fees <span class="label label-default"></span></a>
				<a href="{{ site.baseurl }}/modules/collective-md/fund-accounting.html" class="list-group-item {% if page.sub-title == 'Fund Accounts' %}active{% endif %}"><span class="fa fa-cubes"></span> Fund Accounts <span class="label label-default"></span></a>
				<a href="{{ site.baseurl }}/modules/collective-md/fund-launcher.html" class="list-group-item {% if page.sub-title == 'Fund Launcher' %}active{% endif %}"><span class="fa fa-rocket"></span> Fund Launcher  <span class="label label-default">New</span></a>
				<a href="{{ site.baseurl }}/modules/collective-md/iCPPI.html" class="list-group-item {% if page.sub-title == 'iCPPI/Micro CPPI' %}active{% endif %}"><span class="fa fa-user"></span> iCPPI/Micro CPPI  <span class="label label-default">New</span></a>
				<a href="{{ site.baseurl }}/modules/collective-md/priips.html" class="list-group-item {% if page.sub-title == 'PRIIPs' %}active{% endif %}"><span class="glyphicon glyphicon-pencil"></span> PRIIPs <span class="label label-default"></span></a>
				<a href="{{ site.baseurl }}/modules/collective-md/rules.html" class="list-group-item {% if page.sub-title == 'Rules Management' %}active{% endif %}"><span class="glyphicon glyphicon-list-alt"></span> Rules Management <span class="label label-default"></span></a>
				<a href="{{ site.baseurl }}/modules/collective-md/solvency.html" class="list-group-item {% if page.sub-title == 'Solvency II' %}active{% endif %}"><span class="fas fa-university"></span> Solvency II <span class="label label-default"></span></a>
				<a href="{{ site.baseurl }}/modules/collective-md/scheduler.html" class="list-group-item {% if page.sub-title == 'Task Scheduler' %}active{% endif %}"><span class="glyphicon glyphicon-calendar"></span> Task Scheduler <span class="label label-default"></span></a>
				<a href="{{ site.baseurl }}/modules/collective-md/taxation.html" class="list-group-item {% if page.sub-title == 'Tax Accruals' %}active{% endif %}"><span class="glyphicon glyphicon-stats"></span> Tax Accruals <span class="label label-default"></span></a>
				<a href="{{ site.baseurl }}/modules/collective-md/tax_property_CGT.html" class="list-group-item {% if page.sub-title == 'Tax - Property CGT' %}active{% endif %}"><span class="fas fa-chart-pie"></span> Tax - Property CGT <span class="label label-default">New</span></a>
				<a href="{{ site.baseurl }}/modules/collective-md/trading.html" class="list-group-item {% if page.sub-title == 'Trade Management' %}active{% endif %}"><span class="fa fa-suitcase"></span> Trade Management <span class="label label-default"></span></a>
				<a href="{{ site.baseurl }}/modules/collective-md/valuations.html" class="list-group-item {% if page.sub-title == 'Valuations' %}active{% endif %}"><span class="glyphicon glyphicon-globe"></span> Valuations <span class="label label-default"></span></a>               
                
			</div>   
		</div>

		<div id="module-description" class="col-md-9">
			<h2 style="margin-top:0px;">{{ page.sub-title }}</h2>

			{{ content }}
<a class="btn orange-btn wow fadeInUp animated" href="{{ site.baseurl }}/fund_admin.html" style="visibility: visible; -webkit-animation: fadeInUp;">Application Areas</a>

<a class="call btn btn-action wow fadeInRight animated" href="{{ site.baseurl }}/contact.html" style="visibility: visible; -webkit-animation: fadeInRight;">Arrange a call with one of our sales team</a>
		</div>
	</section>

	{% include footer.html %}