{% include header.html %}

<div class="container">
	<div class="row">
		<div class="page-header">
			<h2>{{ page.page-header }}</h2>
		</div>
		{% if page.header-image %}
		 <img src="{{ site.baseurl }}/img/{{ page.header-image }}" />
		 <br><br>
		 {% endif %}

		{{ content }}
	</div>
</div>

{% if page.show-subscribe %}
<section>
    <div class="subscribe-wrapper">
        <div class="container">
            <h2>Subscribe to our research brief</h2>
            <input type="text" placeholder="Your name">
            <input type="text" placeholder="Your email">                    
            <a href="#" class="btn dark-orange-btn">Subscribe</a>
        </div>
    </div>
</section>
{% endif %}

{% include footer.html %}
