{% include header.html %}


<section id="governance" class="productblock">
    <div class="container">
        <h1 class="portfolios">Investment Governance | <small>See your data and make better decisions</small></h1>
        <hr>
        <div class="list-group col-md-3">
                <a href="{{ site.baseurl }}/modules/gov-md/analytics.html" class="list-group-item "><span class="glyphicon glyphicon-search"></span> Analytics <span class="label label-default">new</span></a>   
                <a href="{{ site.baseurl }}/modules/gov-md/rules.html" class="list-group-item "><span class="glyphicon glyphicon-flash"></span> Rules Management <span class="label label-default"></span></a>
            </div>

		<div class="col-md-9">
			<h2 style="margin-top:0px;">{{ page.sub-title }}</h2>

			{{ content }}

		</div>
	</section>

	{% include footer.html %}