{% include header.html %}

<section id="supervision" class="productblock">
	<div class="container">
		<h1 class="portfolios">Outsourcer Supervision | <small>Monitor your company's outsourcing arrangements</small></h1>
		<hr>
			<div class="list-group col-md-3">
				<a href="{{ site.baseurl }}/modules/outsourcing-md/exceptions.html" class="list-group-item "><span class="glyphicon glyphicon-flash"></span> Rules Management <span class="label label-default"></span></a>
				<a href="{{ site.baseurl }}/modules/outsourcing-md/valuations.html" class="list-group-item "><span class="glyphicon glyphicon-stats"></span> Valuations <span class="label label-default"></span></a>
				<a href="{{ site.baseurl }}/modules/outsourcing-md/analytics.html" class="list-group-item "><span class="glyphicon glyphicon-search"></span> Analytics <span class="label label-default">new</span></a>
				<a href="{{ site.baseurl }}/modules/outsourcing-md/asset-reconciliations.html" class="list-group-item "><span class="glyphicon glyphicon-cloud-upload"></span> Asset Reconciliations <span class="label label-default"></span></a>	
			</div>

		<div class="col-md-9">
			<h2 style="margin-top:0px;">{{ page.sub-title }}</h2>

			{{ content }}

		</div>
	</section>

	{% include footer.html %}