{% include header.html %}

<section id="PRIIPs" class="moduleblock">
	<div class="container">
		<h1 class="portfolios">PRIIPs | <small>Automate the Preparation and Publication of each KID</small></h1>
		<hr>
			<div class="list-group col-md-3">
				<a href="{{ site.baseurl }}/modules/priips-md/analytics.html" class="list-group-item {% if page.sub-title == 'Analytics' %}active{% endif %}"><span class="glyphicon glyphicon-search"></span> Analytics <span class="label label-default"></span></a>
				<a href="{{ site.baseurl }}/modules/priips-md/valuations.html" class="list-group-item {% if page.sub-title == 'Valuations' %}active{% endif %}"><span class="glyphicon glyphicon-globe"></span> Valuations <span class="label label-default"></span></a>
					
			</div>

		<div id="module-description" class="col-md-9">
			<h2 style="margin-top:0px;">{{ page.sub-title }}</h2>

			{{ content }}
<a class="btn orange-btn wow fadeInUp animated" href="{{ site.baseurl }}/solutions.html" style="visibility: visible; -webkit-animation: fadeInUp;">Application Areas</a>

<a class="call btn btn-action wow fadeInRight animated" href="{{ site.baseurl }}/contact.html" style="visibility: visible; -webkit-animation: fadeInRight;">Arrange a call with one of our sales team</a>
		</div>
	</section>

	{% include footer.html %}
