{% include header.html %}

<div class="container">
	<div class="row" style="padding-top:30px;">
		<div class="col-md-3">
			{% include prod_nav.html %}
		</div>
		<div class="col-md-9 div-left-border">
			<h2 style="margin-top:0px">{{ page.headline1 }} <small>{{ page.headline2 }}</small></h2>

			{{ page.intro }}

			{% if page.benefits %}
			<h3>Benefits</h3>
			<div class="well">
				{% for benefit in page.benefits %}	
				{% assign loopindex = forloop.index | modulo: 2 %}
				{% if loopindex == 1 %}
				<div class='row'>
					<div class="col-md-6">
						<h4><i class="fa {{ benefit.icon }}"></i> {{ benefit.headline }}</h4>
						{{ benefit.detail }}
					</div>
					{% else %}
					<div class="col-md-6">
						<h4><i class="fa {{ benefit.icon }}"></i> {{ benefit.headline }}</h4>
						{{ benefit.detail }}
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
			<hr/>
			{% endif %}


			{% if page.features %}
			<h3>Features</h3>
			<ul class="well">
				{% for feature in page.features %}
				{% assign loopindex = forloop.index | modulo: 2 %}
				{% if loopindex == 1 %}
				<div class='row'>
					<div class="col-md-6">
						<li>{{ feature }}</li>
					</div>
					{% else %}
					<div class="col-md-6">
						<li>{{ feature }}</li>
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</ul>
			{% endif %}

			{{ content }}

		</div>
	</div>
</div>

{% include footer.html %}