{% include header.html %}

 <div class="container">
    <div class="row">
		<div class="page-header">	
     		<h2>Products</h2>
		</div>
		
		<div class="col-md-3">
			<div class="list-group">
		  		<a href="#" class="list-group-item">Invest|Pro</a>
		  		<li class="list-group-item list-group-item-info">Core Modules</li>
		  		<a href="#" class="list-group-item">Appropriations</a>
		  		<a href="#" class="list-group-item">Valuations</a>
		  		<a href="#" class="list-group-item">Financial Reporting</a>
				<li class="list-group-item list-group-item-info">Optional Modules</li>
                <a href="analytics.html" class="list-group-item {% if page.sub-title == 'Analytics' %}list-group-item-success{% endif %}"><span class="glyphicon glyphicon-search"> Analytics</span></a>
		  		<a href="#" class="list-group-item"><span class="glyphicon glyphicon-flash"> Exceptions</span></a>
		  		<a href="#" class="list-group-item"><span class="glyphicon glyphicon-user"> Workflow</span></a>	
		  		<a href="#" class="list-group-item">Retail</a>
		  		<a href="#" class="list-group-item">Complience</a>
			</div>
		</div>
		<div class="col-md-9">
			
			{{ content }}
		
		</div>
	</div>
</div>

{% include footer.html %}